<div class="w-[70px] overflow-y-auto h-[100%] bg-[#00486D]">
    <ul class="flex flex-col gap-2 py-4 text-base">
        <li class="space-y-5">
            <a routerLinkActive="bg-[#05143F] active" [routerLinkActiveOptions]="{exact:true}"
                routerLink="admin/dashboard" class="flex items-center gap-3 px-5 py-3 text-sm">
                <img src="./images/sidebar-icons/dashboard-logo.svg" class="icon-default w-5 h-5" alt="">
                <img src="./images/sidebar-icons/dashboard-active-icon.svg" class="icon-active w-5 h-5" alt="">
            </a>
        </li>
        <li class="space-y-5">
            <a routerLinkActive="bg-[#05143F] active" [routerLinkActiveOptions]="{exact:false}"
                routerLink="admin/user-management" class="flex items-center gap-3 px-4 py-3 rounded-e-full text-sm">
                <img src="./images/sidebar-icons/project-mgnt-logo.svg" class="icon-default w-5 h-5" alt="">
                <img src="./images/sidebar-icons/project-mgnt-active-logo.svg" class="icon-active w-5 h-5" alt="">
            </a>
        </li>
        <li class="space-y-5">
            <a routerLinkActive="bg-[#05143F] active" [routerLinkActiveOptions]="{exact:false}"
                routerLink="admin/project-management" class="flex items-center gap-3 px-5 py-3 text-sm">
                <img src="./images/sidebar-icons/project-mgnt-logo.svg" class="icon-default w-5 h-5" alt="">
                <img src="./images/sidebar-icons/project-mgnt-active-logo.svg" class="icon-active w-5 h-5" alt="">
            </a>
        </li>
        <li class="space-y-5">
            <a routerLinkActive="bg-[#05143F] active" [routerLinkActiveOptions]="{exact:false}" routerLink="/dashboard"
                class="flex items-center gap-3 px-5 py-3 text-sm">
                <img src="./images/sidebar-icons/performance-mgnt-logo.svg" class="icon-default w-5 h-5" alt="">
                <img src="./images/sidebar-icons/performance-mgnt-active-logo.svg" class="icon-active w-5 h-5" alt="">
            </a>
        </li>
        <li class="space-y-5">
            <a routerLinkActive="bg-[#05143F] active" [routerLinkActiveOptions]="{exact:true}" routerLink="/dashboard"
                class="flex items-center gap-3 px-5 py-3 text-sm">
                <img src="./images/sidebar-icons/payment-mgnt-logo.svg" class="icon-default w-5 h-5" alt="">
                <img src="./images/sidebar-icons/dashboard-logo-logi.svg" class="icon-active w-5 h-5" alt="">
            </a>
        </li>
        <li class="space-y-5">
            <a routerLinkActive="bg-[#05143F] active" [routerLinkActiveOptions]="{exact:false}" routerLink="/dashboard"
                class="flex items-center gap-3 px-5 py-3 text-sm">
                <img src="./images/sidebar-icons/training-center-logo.svg" class="icon-default w-5 h-5" alt="">
                <img src="./images/sidebar-icons/dashboard-logo-logi.svg" class="icon-active w-5 h-5" alt="">
            </a>
        </li>
    </ul>
</div>